﻿@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- BEGIN LOGIN FORM -->
<form method="post" action="@Url.Action("ResetPassword","Auth")">
    <h3 class="form-title">Reset Your Password</h3>
    <input type="hidden" name="Email" value="@ViewBag.Email" />
    @if (ViewBag.message != "")
            {
        <div class="form-group">
            <p class="alert alert-danger" style="color: black;">@ViewBag.message</p>
        </div>
    }
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" name="Password" id="password" placeholder="Enter your new Password" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" name="ConfirmPassword" id="password" placeholder="Enter again your new Password" required />
        </div>
    </div>
    <div class="form-actions">
        <center><button type="submit" class="btn btn-lg green"> Reset </button></center>
    </div>
</form>

