﻿
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase">
                                Report Form
                            </span>
                        </div>
                        <div class="actions">
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" action="@Url.Action("PostProduct","Admin")" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Product Detail
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab" class="step">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Product Weight & Size
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab3" data-toggle="tab" class="step active">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Product + Container Detail
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab4" data-toggle="tab" class="step">
                                                <span class="number"> 4 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Platform
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                        <div class="progress-bar progress-bar-success"> </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="alert alert-danger display-none">
                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                        </div>
                                        <div class="alert alert-success display-none">
                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                        </div>
                                        <div class="tab-pane active" id="tab1">
                                            <h3 class="block">Provide product details</h3>
                                            <fieldset>
                                                <legend>Product Detail</legend>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Title
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Name" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Category
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="category" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Brand
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Brand" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Status
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Status" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        ASIN
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="asin" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Barcode/UPC
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="barcode" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Terrif Code
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="TarrifCode" />
                                                    </div>
                                                    
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Product Cost</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Cost FBA
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costfba" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Cost Direct
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="direct" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Base Cost
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="base" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        WSP USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="wsp" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        MSRP USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="msrp" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costamzn" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon EUR
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costeur" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon GBP
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costgbp" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon CAD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costcad" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon MXN
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costmxn" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <h3 class="block">Provide product details</h3>
                                            <fieldset>
                                                <legend>Weight</legend>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (S) Box Quantity
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="squantity" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (S) Box Weight (lb)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sweight" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (S) Box Height (ln)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sheight" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (S) Box Length (lb)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="slength" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (M) Box Quantity
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="mquantity" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (M) Box Weight (lb)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="mweight" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (M) Box Width (ln)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="mwidth" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (M) Box Height (lb)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="mheight" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (M) Box Length (ln)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="mlength" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (L) Box Weight (lb)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lweight" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (L) Box Width (ln)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lwidth1" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (L) Box Width (ln)2
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lwidth2" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        (L) Box Height (ln)
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lheight" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        (L) Box Length (ln)2
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="llength" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Size</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Size_Kg
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sizekg" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Size_Lbs
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sizelbs" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Size_Oz
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sizeoz" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Size_ml
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sizeml" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Size_g
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="sizeg" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Closure
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="closure" />
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <h3 class="block">Product Container Details</h3>
                                            <fieldset>
                                                <legend>Weight</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Product + Container Oz
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="prod_con_oz" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Container Only Oz
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="con_oz" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Product Only Oz
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="prod_only_oz" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Product + Container Grams
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="prod_con_g" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Product Only Grams
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="prod_only_g" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Container Only Grams
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="con_only_g" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Size</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Width Inches
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="widthin" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        height Inches
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="heightin" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Length Inches
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lengthin" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Width cm
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="heightcm" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Length cm
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lengthcm" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Height cm
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="heightcm" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>SKU</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon SKU US
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="amznus" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon SKU Canada
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="amzncd" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon SKU UK
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="amznuk" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon SKU Maxico
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="amznmax" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <h3 class="block"></h3>
                                            <h4 class="form-section">`</h4>
                                            <fieldset>
                                                <legend>Platforms</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon US
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkus" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkus" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon CA
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkcd" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkcd" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon MX
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkmx" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkmx" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <br />
                                                    <label class="control-label col-md-2">
                                                        Amazon UK
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkuk" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkuk" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon DE
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkde" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkde" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon FR
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkfr" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkfr" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon IT
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkit" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkit" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon ES
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkes" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkes" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon IN
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkin" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkin" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon BR
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkbr" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkbr" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon AU
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="amznchkau" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="amznchkau" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Etsy
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="etsy" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="etsy" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Groupon
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="groupon" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="groupon" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Website
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="website" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="website" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        RangeMe
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="rangeme" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="rangeme" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Ebay
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="ebay" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="ebay" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Shopify
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="shopify" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="shopify" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Bonanza
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="bonanza" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="bonanza" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Alibaba
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="alibaba" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="alibaba" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        AliExpress
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="aliexpress" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="aliexpress" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Walmart
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="walmart" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="walmart" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Target
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="target" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="target" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Facebook
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="fb" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="fb" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Pinterest
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="pin" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="pin" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Wanalo
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="wanalo" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="wanalo" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Wish
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            <label>
                                                                <input type="radio" name="wish" value="Yes" data-title="Male" checked /> Yes
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="wish" value="No" data-title="Female" /> No
                                                            </label>
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <a href="javascript:;" class="btn default button-previous">
                                                <i class="fa fa-angle-left"></i> Back
                                            </a>
                                            <a href="javascript:;" class="btn btn-outline green button-next">
                                                Continue
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <button type="submit" href="javascript:;" class="btn green button-submit">
                                                Submit
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>

