﻿
@{
    ViewBag.Title = "detailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InvoiceGenerator.Models.Product
@using InvoiceGenerator.Models
@using InvoiceGenerator.BL
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Products</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            @*<span class="caption-subject bold uppercase">Detail of product</span>*@
                            <span class="pull-right"><a href="@Url.Action("Invoice","Admin")" class="btn btn-info "><i class="fa fa-print"></i> Print Invoice</a></span>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <h4 class="page-header">Product Detail</h4>
                            <div class="col-md-12">


                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Name/sku</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Name
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Category</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Category
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Brand</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Brand
                                </div>
                            </div>
                            <div class="col-md-12">


                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Status</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Status
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>ASIN</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.ASIN
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Barcode</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Barcode
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Terrif Code</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.TarrifCode

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Country</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Country

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="page-header">Product Cost</h4>
                            <div class="col-md-12">


                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Cost FBA</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().FBA
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Cost Direct</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Direct
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Base Cost</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Base
                                </div>
                            </div>
                            <div class="col-md-12">


                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>WSP USD</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().WSP_USD
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>MSRP USD</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().MSRP_USD
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Amzaon USD</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Price_AMZN_CAD
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Amzaon EUR</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Price_AMZN_EUR


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Amzaon MXN</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Price_AMZN_MXN


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0094ff;padding:5px;"><b>Amzaon CAD</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Costs.FirstOrDefault().Price_AMZN_CAD


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="page-header">Product Weight </h4>
                            <div class="col-md-12">
                                @*//background-color:#30bf20;*@

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:black;background-color:yellow;padding:5px;"><b>S_Box_Quantity</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().S_Box_Quantity
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:black;background-color:yellow;padding:5px;"><b>S_Box_Weight</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().S_Box_Weight
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:black;background-color:yellow;padding:5px;"><b>S_Box_Height</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().S_Box_Height
                                </div>
                            </div>
                            <div class="col-md-12">


                                <div class="col-md-2">
                                    <p class="uppercase" style="color:black;background-color:yellow;padding:5px;"><b>S_Box_Length</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().S_Box_Length
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:black;background-color:yellow;padding:5px;"><b>S_Box_Width</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().S_Box_Width
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#30bf20;padding:5px;"><b>M_Box_Quantity</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().M_Box_Quantity


                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#30bf20;padding:5px;"><b>M_Box_Length</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().M_Box_Length


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#30bf20;padding:5px;"><b>M_Box_Weight</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().M_Box_Weight


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#30bf20;padding:5px;"><b>M_Box_Width</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().M_Box_Width


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#30bf20;padding:5px;"><b>M_Box_Height</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().M_Box_Height


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#ff00dc;padding:5px;"><b>L_Box_Weight</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().L_Box_Weight


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#ff00dc;padding:5px;"><b>L_Box_Length</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().L_Box_Length


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#ff00dc;padding:5px;"><b>L_Box_Width</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().L_Box_Width


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#ff00dc;padding:5px;"><b>L_Box_Height</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().L_Box_Height


                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#ff00dc;padding:5px;"><b>L_Box_Quantity</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Boxes.FirstOrDefault().L_Box_Quantity


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h4 class="page-header">Product Size </h4>
                            <div class="col-md-12">
                                @*//background-color:#30bf20;*@

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Size_Kg</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Size_Kg
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Size_Lbs</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Size_Lbs
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Size_Oz</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Size_Oz
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Size Grams</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Size_g
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Size_ml</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Size_ml
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Closure</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Sizes.FirstOrDefault().Closure
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="page-header">Platforms </h4>
                            <div class="col-md-12">
                                @*//background-color:#30bf20;*@

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_US</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_US
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_CA</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_CA
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_MX</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_MX
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_UK</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_UK
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_DE</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_DE
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_FR</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_FR
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_IT</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_IT
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_ES</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_ES
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_IN</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_IN
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_BR</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_BR
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Amazon_AU</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Amazon_AU
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Etsy</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Etsy
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>GroupOn</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().GroupOn
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>RangeMe</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().RangeMe
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>eBay</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().eBay
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>GroupOn</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Bonanza
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>RangeMe</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Alibaba
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>eBay</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().AliExpress
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>GroupOn</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Target
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>RangeMe</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Facebook
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>eBay</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Pinterest
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>GroupOn</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Wanalo
                                </div>
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>RangeMe</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Wish
                                </div>

                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>eBay</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Website
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <p class="uppercase" style="color:white;background-color:#0e86fa;padding:5px;"><b>Walmart</b></p>
                                </div>
                                <div class="col-md-2">
                                    @Model.Platforms.FirstOrDefault().Walmart
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("DeleteProduct","Admin")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>You are going to delete this Product. Are you sure?</p>
                    <input type="hidden" class="form-control" id="propId" name="Id" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script> 
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $('#cmd').click(function () {
    //        var pdf = new jsPDF('p', 'pt', 'letter')
    //            , source = $('#content')[0]
    //            , specialElementHandlers = {
    //                '#bypassme': function (element, renderer) {
    //                    return true
    //                }
    //            }
    //        margins = {
    //            top: 60,
    //            bottom: 60,
    //            left: 40,
    //            width: 522
    //        };
    //        pdf.fromHTML(
    //            source
    //            , margins.left
    //            , margins.top
    //            , {
    //                'width': margins.width
    //                , 'elementHandlers': specialElementHandlers
    //            },
    //            function (dispose) {
    //                pdf.save('download_pdf.pdf');
    //            },
    //            margins
    //        )
    //    });
    //});
    $(document).ready(function () {
        $('#prodiv').hide();
    });
    function ExportPdf() {
            kendo.drawing
                .drawDOM("#content",
                {
                    paperSize: "A3",
                    margin: { top: "1cm", bottom: "1cm", left:"1cm",right:"1cm" },
                    scale: 0.8
                })
                .then(function (group) {
                    kendo.drawing.pdf.saveAs(group, "Exported.pdf")
            });
            $('#prodiv').hide();
        }

    function deleteProduct(Id) {
        $('#propId').val(Id);
    }

</script>

