﻿
@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model InvoiceGenerator.Models.Product
@using InvoiceGenerator.Models
@using InvoiceGenerator.BL
<style>
    .row .form-group{
        padding-left:10px;
    }
</style>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase">
                                Report Form
                            </span>
                        </div>
                        <div class="actions">
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form class="form-horizontal" action="@Url.Action("UpdateProduct","Admin")" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Update Product Details
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab" class="step">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Product Weight & Size
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab3" data-toggle="tab" class="step active">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Product + Container Detail
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab4" data-toggle="tab" class="step">
                                                <span class="number"> 4 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Platform
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                        <div class="progress-bar progress-bar-success"> </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="alert alert-danger display-none">
                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                        </div>
                                        <div class="alert alert-success display-none">
                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                        </div>
                                        <div class="tab-pane active" id="tab1">
                                            <h3 class="block">Provide product details</h3>
                                            <fieldset>
                                                <legend>Product Detail</legend>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Title
                                                    </label>
                                                    <input type="hidden" name="ProId" value="@Model.Id" />
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Name" value="@Model.Name" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Category
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="category" value="@Model.Category" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Brand
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Brand" value="@Model.Brand" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Status
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="Status" value="@Model.Status" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        ASIN
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="asin" value="@Model.ASIN" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Barcode/UPC
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="barcode" value="@Model.Barcode" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Terrif Code

                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="TarrifCode" value="@Model.TarrifCode" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Product Cost</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Cost FBA
                                                        
                                                    </label>
                                                    <input type="hidden" name="CostId" value="@Model.Costs.FirstOrDefault().Id" />
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costfba" value="@Model.Costs.FirstOrDefault().FBA" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Cost Direct
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="direct" value="@Model.Costs.FirstOrDefault().Direct" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Base Cost
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="base" value="@Model.Costs.FirstOrDefault().Base" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        WSP USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="wsp" value="@Model.Costs.FirstOrDefault().WSP_USD" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        MSRP USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="msrp" value="@Model.Costs.FirstOrDefault().MSRP_USD" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon USD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costamzn" value="@Model.Costs.FirstOrDefault().Price_AMZN_USD" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon EUR
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costeur" value="@Model.Costs.FirstOrDefault().Price_AMZN_EUR" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon GBP
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costgbp" value="@Model.Costs.FirstOrDefault().Price_AMZN_GBP" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon CAD
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costcad" value="@Model.Costs.FirstOrDefault().Price_AMZN_CAD" />
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon MXN
                                                        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="costmxn" value="@Model.Costs.FirstOrDefault().Price_AMZN_MXN" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="tab-pane" id="tab2">
            <h3 class="block">Provide product details</h3>
            <fieldset>
                <legend>Weight</legend>
                <input type="hidden" name="BoxId" value="@Model.Boxes.FirstOrDefault().Id" />
                <div class="row">
                    <div class="col-md-4" style="padding:20px;">
                        <h4>Small</h4>
                        <div class="form-group">
                            <label class="control-label">
                                (S) Box Quantity

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="squantity" value="@Model.Boxes.FirstOrDefault().S_Box_Quantity" />
                            </div>
                            <label class="control-label">
                                (S) Box Weight (lb)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="sweight" value="@Model.Boxes.FirstOrDefault().S_Box_Weight" />
                            </div>
                            <label class="control-label">
                                (S) Box Length (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="slength" value="@Model.Boxes.FirstOrDefault().S_Box_Length" />
                            </div>
                            <label class="control-label">
                                (S) Box Height (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="sheight" value="@Model.Boxes.FirstOrDefault().S_Box_Height" />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding:20px;">
                        <h4>Medium</h4>
                        <div class="form-group">


                            <label class="control-label">
                                (M) Box Quantity

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="mquantity" value="@Model.Boxes.FirstOrDefault().M_Box_Quantity" />
                            </div>
                            <label class="control-label">
                                (M) Box Weight (lb)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="mweight" value="@Model.Boxes.FirstOrDefault().M_Box_Weight" />
                            </div>
                            <label class="control-label">
                                (M) Box Length (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="mlength" value="@Model.Boxes.FirstOrDefault().M_Box_Length" />
                            </div>
                            <label class="control-label">
                                (M) Box Width (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="mwidth" value="@Model.Boxes.FirstOrDefault().M_Box_Width" />
                            </div>
                            <label class="control-label">
                                (M) Box Height (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="mheight" value="@Model.Boxes.FirstOrDefault().M_Box_Height" />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding:20px;">
                        <h4>Large</h4>
                        <div class="form-group">
                            <label class="control-label">
                                (L) Box Quantity

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="lwidth2" value="@Model.Boxes.FirstOrDefault().L_Box_Quantity" />
                            </div>
                            <label class="control-label">
                                (L) Box Weight (lb)

                            </label>

                            <div class="">
                                <input type="text" class="form-control" name="lweight" value="@Model.Boxes.FirstOrDefault().L_Box_Weight" />
                            </div>
                            <label class="control-label">
                                (L) Box Length (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="llength" value="@Model.Boxes.FirstOrDefault().L_Box_Length" />
                            </div>
                            <label class="control-label ">
                                (L) Box Width (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="lwidth1" value="@Model.Boxes.FirstOrDefault().L_Box_Width" />
                            </div>
                            <label class="control-label ">
                                (L) Box Height (ln)

                            </label>
                            <div class="">
                                <input type="text" class="form-control" name="lheight" value="@Model.Boxes.FirstOrDefault().L_Box_Height" />
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Size</legend>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Size_Kg
                        
                    </label>
                    <input type="hidden" name="SizeId" value="@Model.Sizes.FirstOrDefault().Id" />
                    <input type="hidden" name="SkuId" value="@Model.AmazonSkus.FirstOrDefault().Id" />
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="sizekg" value="@Model.Sizes.FirstOrDefault().Size_Kg" />
                    </div>
                    <label class="control-label col-md-2">
                        Size_Lbs
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="sizelbs" value="@Model.Sizes.FirstOrDefault().Size_Lbs" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Size_Oz
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="sizeoz" value="@Model.Sizes.FirstOrDefault().Size_Oz" />
                    </div>
                    <label class="control-label col-md-2">
                        Size_ml
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="sizeml" value="@Model.Sizes.FirstOrDefault().Size_ml" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Size_g
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="sizeg" value="@Model.Sizes.FirstOrDefault().Size_g" />
                    </div>
                    <label class="control-label col-md-2">
                        Closure
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="closure" value="@Model.Sizes.FirstOrDefault().Closure" />
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="tab-pane" id="tab3">
            <h3 class="block">Product Container Details</h3>
            <fieldset>
                <legend>Weight</legend>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Product + Container Oz
                        
                    </label>
                    <input type="hidden" name="Procon" value="@Model.ProductContainers.FirstOrDefault().Id" />
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prod_con_oz" value="@Model.ProductContainers.FirstOrDefault().ProductContainer_Oz" />
                    </div>
                    <label class="control-label col-md-2">
                        Container Only Oz
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="con_oz" value="@Model.ProductContainers.FirstOrDefault().Container_Oz" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Product Only Oz
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prod_only_oz" value="@Model.ProductContainers.FirstOrDefault().Product_Oz" />
                    </div>
                    <label class="control-label col-md-2">
                        Product + Container Grams
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prod_con_g" value="@Model.ProductContainers.FirstOrDefault().ProductContainer_Grams" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Product Only Grams
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prod_only_g" value="@Model.ProductContainers.FirstOrDefault().Product_Grams" />
                    </div>
                    <label class="control-label col-md-2">
                        Container Only Grams
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="con_only_g" value="@Model.ProductContainers.FirstOrDefault().Container_Grams" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Size</legend>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Width Inches
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="widthin" value="@Model.ProductContainers.FirstOrDefault().Width_Inches" />
                    </div>
                    <label class="control-label col-md-2">
                        height Inches
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="heightin" value="@Model.ProductContainers.FirstOrDefault().Height_Inches" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Length Inches
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="lengthin" value="@Model.ProductContainers.FirstOrDefault().Length_Inches" />
                    </div>
                    <label class="control-label col-md-2">
                        Width cm
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="heightcm" value="@Model.ProductContainers.FirstOrDefault().Height_cm" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Length cm
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="lengthcm" value="@Model.ProductContainers.FirstOrDefault().Length_cm" />
                    </div>
                    <label class="control-label col-md-2">
                        Height cm
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="heightcm" value="@Model.ProductContainers.FirstOrDefault().Height_cm" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>SKU</legend>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Amazon SKU US
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="amznus" value="@Model.AmazonSkus.FirstOrDefault().US" />
                    </div>
                    <label class="control-label col-md-2">
                        Amazon SKU Canada
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="amzncd" value="@Model.AmazonSkus.FirstOrDefault().Canada" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Amazon SKU UK
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="amznuk" value="@Model.AmazonSkus.FirstOrDefault().UK" />
                    </div>
                    <label class="control-label col-md-2">
                        Amazon SKU Maxico
                        
                    </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="amznmax" value="@Model.AmazonSkus.FirstOrDefault().Mexico" />
                    </div>
                </div>
            </fieldset>
        </div>
                                        <div class="tab-pane" id="tab4">
                                            <h3 class="block"></h3>
                                            <h4 class="form-section">`</h4>
                                            <fieldset>
                                                <legend>Platforms</legend>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Amazon US
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <input type="hidden" name="platformId" value="@Model.Platforms.FirstOrDefault().Id" />
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_US == "Yes")
                        {
                                    <label>
                                        <input type="radio" name="amznchkus" value="Yes" data-title="Male" checked /> Yes
                                    </label>
}
else
{
                                    <label>
                                        <input type="radio" name="amznchkus" value="Yes" data-title="Male" /> Yes
                                    </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_US == "No")
                        {
                                    <label>
                                        <input type="radio" name="amznchkus" value="No" data-title="Female" checked /> No
                                    </label>
}
else
{
                                    <label>
                                        <input type="radio" name="amznchkus" value="No" data-title="Female" /> No
                                    </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon CA
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_CA == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkcd" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkcd" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_CA == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkcd" value="No" data-title="Female" checked /> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkcd" value="No" data-title="Female" checked /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon MX
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_MX == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkmx" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkmx" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_MX == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkmx" value="No" data-title="Female" checked /> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkmx" value="No" data-title="Female" checked /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <br />
                                                    <label class="control-label col-md-2">
                                                        Amazon UK
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_UK == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkuk" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkuk" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_UK == "No")
                                                            {
                                                        <label>
                                                            <input type="radio" name="amznchkuk" value="No" data-title="Female" checked/> No
                                                        </label>
                                                            }
                                                            else
                                                            {
                                                        <label>
                                                            <input type="radio" name="amznchkuk" value="No" data-title="Female"  /> No
                                                        </label>
                                                            }
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon DE
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_DE == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkde" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkde" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_DE == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkde" value="No" data-title="Female" checked /> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkde" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon FR
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_FR == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkfr" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkfr" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_FR == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkfr" value="No" data-title="Female" checked/> No
                                                        </label> }
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkfr" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon IT
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_IT == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkit" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkit" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_IT == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkit" value="No" data-title="Female" checked /> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkit" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon ES
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_ES == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkes" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkes" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_ES == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkes" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkes" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon IN
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_IN == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkin" value="Yes" data-title="Male" checked /> Yes
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkin" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_IN == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkin" value="No" data-title="Female" checked /> No
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkin" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon BR
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_BR == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkbr" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkbr" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_BR == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkbr" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkbr" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Amazon AU
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_AU == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkau" value="Yes" data-title="Male" checked /> Yes
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkau" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Amazon_AU == "No")
    {
                                                        <label>
                                                            <input type="radio" name="amznchkau" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="amznchkau" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Etsy
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Etsy == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="etsy" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="etsy" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Etsy == "No")
    {
                                                        <label>
                                                            <input type="radio" name="etsy" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="etsy" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Groupon
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().GroupOn == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="groupon" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="groupon" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().GroupOn == "No")
    {
                                                        <label>
                                                            <input type="radio" name="groupon" value="No" data-title="Female" checked /> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="groupon" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Website
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Website == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="website" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="website" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Website == "No")
                                                            {
                                                        <label>
                                                            <input type="radio" name="website" value="No" data-title="Female" checked/> No
                                                        </label>
                                                            }
                                                            else
                                                            {
                                                        <label>
                                                            <input type="radio" name="website" value="No" data-title="Female" /> No
                                                        </label>
                                                            }
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        RangeMe
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().RangeMe == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="rangeme" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="rangeme" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().RangeMe == "No")
    {
                                                        <label>
                                                            <input type="radio" name="rangeme" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="rangeme" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Ebay
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().eBay == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="ebay" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="ebay" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().eBay == "No")
    {
                                                        <label>
                                                            <input type="radio" name="ebay" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="ebay" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Shopify
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Shoipfy == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="shopify" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="shopify" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Shoipfy == "No")
    {
                                                        <label>
                                                            <input type="radio" name="shopify" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="shopify" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Bonanza
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Bonanza == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="bonanza" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="bonanza" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Bonanza == "No")
    {
                                                        <label>
                                                            <input type="radio" name="bonanza" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="bonanza" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Alibaba
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Alibaba == "No")
    {
                                                        <label>
                                                            <input type="radio" name="alibaba" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="alibaba" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Alibaba == "No")
    {
                                                        <label>
                                                            <input type="radio" name="alibaba" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="alibaba" value="No" data-title="Female" /> No
                                                        </label>

}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        AliExpress
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().AliExpress == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="aliexpress" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="aliexpress" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().AliExpress == "No")
    {
                                                        <label>
                                                            <input type="radio" name="aliexpress" value="No" data-title="Female" checked /> No
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="aliexpress" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Walmart
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Walmart == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="walmart" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="walmart" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Walmart == "No")
    {
                                                        <label>
                                                            <input type="radio" name="walmart" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="walmart" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Target
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Target == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="target" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="target" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Target == "No")
                                                            {
                                                        <label>
                                                            <input type="radio" name="target" value="No" data-title="Female" checked/> No
                                                        </label>
                                                            }
                                                            else
                                                            {
                                                        <label>
                                                            <input type="radio" name="target" value="No" data-title="Female" /> No
                                                        </label>
                                                            }
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Facebook
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Facebook == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="fb" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="fb" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Facebook == "No")
    {
                                                        <label>
                                                            <input type="radio" name="fb" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="fb" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Pinterest
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Pinterest == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="pin" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="pin" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Pinterest == "No")
    {
                                                        <label>
                                                            <input type="radio" name="pin" value="No" data-title="Female" checked/> No
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="pin" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Wanalo
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Wanalo == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="wanalo" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="wanalo" value="Yes" data-title="Male" /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Wanalo == "No")
    {
                                                        <label>
                                                            <input type="radio" name="wanalo" value="No" data-title="Female" checked/> No
                                                        </label>}
else
{
                                                        <label>
                                                            <input type="radio" name="wanalo" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Wish
                                                        
                                                    </label>
                                                    <div class="col-md-2">
                                                        <div class="radio-list">
                                                            @if (Model.Platforms.FirstOrDefault().Wish == "Yes")
    {
                                                        <label>
                                                            <input type="radio" name="wish" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="wish" value="Yes" data-title="Male" checked /> Yes
                                                        </label>
}
                                                            @if (Model.Platforms.FirstOrDefault().Wish == "No")
    {

                                                        <label>
                                                            <input type="radio" name="wish" value="No" data-title="Female" checked/> No
                                                        </label>
}
else
{
                                                        <label>
                                                            <input type="radio" name="wish" value="No" data-title="Female" /> No
                                                        </label>
}
                                                        </div>
                                                        <div id="form_gender_error"> </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <a href="javascript:;" class="btn default button-previous">
                                                <i class="fa fa-angle-left"></i> Back
                                            </a>
                                            <a href="javascript:;" class="btn btn-outline green button-next">
                                                Continue
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <button type="submit" href="javascript:;" class="btn green button-submit">
                                                Submit
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>


