﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using InvoiceGenerator.Helping_Classes
@{
    SessionDTO sessiondto = new SessionDTO();
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Dashboard</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
       
            <div class="row">
                <div class="col-md-offset-2 col-lg-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 bordered">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="@ViewBag.products">0</span>
                                    <small class="font-green-sharp"></small>
                                </h3>
                                <small>TOTAL PRODUCTS</small>
                            </div>
                            <div class="icon">
                                <i class="icon-home"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 bordered">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">
                                    <span data-counter="counterup" data-value="@ViewBag.shipments">0</span>
                                </h3>
                                <small>TOTAL SHIPMENTS</small>
                            </div>
                            <div class="icon">
                                <i class="icon-home"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        
            @*<div class="row">
                <div class="col-md-offset-4 col-md-4 ">
                    <form action="@Url.Action("UploadExcel","Admin")" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Import Excel file</label>
                            <input type="file" class="btn btn-info btn-file" name="FileUpload" accept=".xls,.xlsx"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Import" />
                        </div>
                    </form>
                </div>
            </div>*@
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>





