﻿
@{
    Layout = null;
}
@model InvoiceGenerator.Models.Shipment
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
    <button onclick="ExportPdf()()" style="float:right;">Print Invoice</button>
    <br />
    <div id="prodiv">
        <div id="content">
            <div style="width: 100%; text-align:center;">
                <img src="~/Content/Cleary_Isabella_Small.png" alt="Logo" style="margin:0 auto; float:left;" width="150" height="90" />
                <h1 style="">Sea International LLC <br> Manufacturer ProForma Invoice</h1>

            </div>
            <table style="border: 1px solid black;border-collapse: collapse;
    width: 100%;">
                <tbody>
                    <tr>
                        <td rowspan="4">Ship To:</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.SipToCountry</td>
                        <td rowspan="4">Bill To:</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.BillToCountry</td>
                        <td colspan="2">Email to: clearlyteam@isabellasclearly.com</td>

                    </tr>
                    @{ 
                        
                        var shiptoaddress = Model.ShipToAddress.Split('_');
                        var billtoaddress = Model.BillToAddress.Split('_');
                    }
                    <tr>
                        <td style="border: 1px solid black;height: 30px;">@shiptoaddress[0]</td>
                        <td style="border: 1px solid black;height: 30px;">@billtoaddress[0]</td>

                        <td style="border: 1px solid black;height: 30px;">Date:</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.Creadted_At.Value.ToString("dd/MM/yyy") </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;height: 30px;">@shiptoaddress[2]</td>
                        <td style="border: 1px solid black;height: 30px;">@billtoaddress[2]</td>
                        @*<td style="border: 1px solid black;height: 30px;">Amazon.com.ca, Inc.</td>
                            <td style="border: 1px solid black;height: 30px;">Bellevue, WA 98006</td>*@

                        <td style="border: 1px solid black;height: 30px;">Invoice #:</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.InvoiceNumber </td>
                    </tr>
                    <tr>
                        @*<td style="border: 1px solid black;height: 30px;">8030 Heritage Road</td>
                            <td style="border: 1px solid black;height: 30px;">(USA)</td>*@
                        <td style="border: 1px solid black;height: 30px;">@shiptoaddress[4]</td>
                        <td style="border: 1px solid black;height: 30px;">@billtoaddress[4]</td>

                        <td style="border: 1px solid black;height: 30px;">Customer ID:</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.Customer_Id </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;height: 30px;"></td>
                        <td style="border: 1px solid black;height: 30px;"></td>

                        <td style="border: 1px solid black;height: 30px;"></td>
                        <td style="border: 1px solid black;height: 30px;"></td>
                        <td style="border: 1px solid black;height: 30px;"></td>
                        <td style="border: 1px solid black;height: 30px;"></td>
                    </tr>
                </tbody>
            </table>
            <table style="border: 1px solid black;border-collapse: collapse;
    width: 100%;">
                <thead style="background-color: grey;color: white;">
                    <tr>
                        <th>Qty</th>
                        <th style="border: 1px solid black;height: 30px;">SKU</th>
                        <th style="border: 1px solid black;height: 30px;">Description</th>
                        <td style="border: 1px solid black;height: 30px;">Unit Price</td>
                        <td style="border: 1px solid black;height: 30px;">Discount</td>
                        <th>Line Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid black;height: 30px;">@Model.Quantity</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.SEU</td>
                        <td style="border: 1px solid black;height: 30px;">@Model.Description</td>
                        @{ var symbol = ""; var unitprice = ""; var zero = "0.00";}
                        @if (Model.Platform == "Alibaba" || Model.Platform == "AliExpress" || Model.Platform == "Bonanza" || Model.Platform == "eBay" || Model.Platform == "Etsy" || Model.Platform == "Facebook" || Model.Platform == "GroupOn" || Model.Platform == "Pinterest" || Model.Platform == "RangeMe" || Model.Platform == "Shoipfy" || Model.Platform == "Walmart" || Model.Platform == "Wanalo" || Model.Platform == "Website" || Model.Platform == "Wish" || Model.Platform == "Amazon_US")
                        {
                            <td style="border: 1px solid black;height: 30px;"> @Model.Product.Costs.FirstOrDefault().WSP_USD</td>
                            unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('$')[1];
                            symbol = "$";
                        }
                        else if (Model.Platform == "Amazon_DE" || Model.Platform == "Amazon_FR" || Model.Platform == "Amazon_IT" || Model.Platform == "Amazon_ES")
                        {
                            <td style="border: 1px solid black;height: 30px;">&euro; @Model.Product.Costs.FirstOrDefault().WSP_USD</td>
                            unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('€')[0];
                            symbol = "€";
                        }
                        else if (Model.Platform == "Amazon_UK")
                        {
                            <td style="border: 1px solid black;height: 30px;">&pound; @Model.Product.Costs.FirstOrDefault().WSP_USD</td>
                            unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('£')[1];
                            symbol = "£";

                        }
                        else if (Model.Platform == "Amazon_CA")
                        {
                            <td style="border: 1px solid black;height: 30px;">CA @Model.Product.Costs.FirstOrDefault().WSP_USD</td>
                            unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('D')[1];
                            symbol = "CAD";

                        }
                        else if (Model.Platform == "Amazon_MX")
                        {
                            <td style="border: 1px solid black;height: 30px;">MXN @Model.Product.Costs.FirstOrDefault().WSP_USD</td>

                            unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('M')[1];
                            symbol = "MXN";
                        }
                        else
                        {
                            if (Model.Product.Costs.FirstOrDefault().Base.Contains('$'))
                            {
                                <td style="border: 1px solid black;height: 30px;"> @Model.Product.Costs.FirstOrDefault().Base</td>
                                unitprice = Model.Product.Costs.FirstOrDefault().Base.Split('$')[1];
                            }
                            else if (Model.Product.Costs.FirstOrDefault().WSP_USD.Contains('$'))
                            {
                                <td style="border: 1px solid black;height: 30px;"> @Model.Product.Costs.FirstOrDefault().WSP_USD</td>
                                unitprice = Model.Product.Costs.FirstOrDefault().WSP_USD.Split('$')[1];
                            }
                            else
                            {
                                <td style="border: 1px solid black;height: 30px;"> $0.7 </td>
                                unitprice = "0.7";
                            }
                            symbol = "$";
                        }

                       
                       <br>
                        <td style="border: 1px solid black;height: 30px;"></td>
                        @{


                            var multi = Convert.ToDouble(unitprice) * Convert.ToInt32(Model.Quantity);
                        }
                        <td style="border: 1px solid black;height: 30px;">@symbol@multi</td>

                    </tr>
                    <tr>
                        <td colspan="4" style="border: 1px solid black;height: 30px; text-align:right;">Total Discount:</td>

                        <td style="border: 1px solid black;height: 30px;"></td>
                        <td style="border: 1px solid black;height: 30px;">@symbol@zero </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="4" style="text-align:right;"></td>

                        <td style="border: 1px solid black;height: 30px;">Sub Total</td>
                        <td style="border: 1px solid black;height: 30px;">@symbol@multi </td>
                    </tr>
                    <tr>

                        <td style="border: 1px solid black;height: 30px;">Sales Discount</td>
                        <td style="border: 1px solid black;height: 30px;">@symbol@zero  </td>
                    </tr>
                    <tr>

                        <td style="border: 1px solid black;height: 30px;">Total</td>
                        <td style="border: 1px solid black;height: 30px;">@symbol@multi  </td>
                    </tr>
                </tbody>
            </table>
            <br>
            @*<div style="border:2px solid black; padding: 10%; text-align: center;">
                    <h1>North American Free Trade Agreement</h1>
                    <h1>Statement of Origin</h1>
                    <h5>Low Value Shipment(Under $1000)</h5>
                    <br>
                    <br>
                    <br>
                    <p>"I certify that the goods referenced in this ubviuce / sales contact or other<br>document comply with the origin requirements specified for these goods<br>in the NORTH AMERICAN TRADE AGREEMENT (NAFTA), and that<br>further processing or assembly in a third country has not occurred<br>subsequent to processing or assembly in the Territory. "</p>
                    <br>
                    <br>
                    <p style="text-align: left;">Name: Hamez James Aborlous</p>
                    <p style="text-align: left;">Telephone: 425-653-3252</p>
                    <p style="text-align: left;">Title: Director</p>
                    <p style="text-align: left;">Company: Sea International LLC DBA Isabella's Clearly</p>
                    <p style="text-align: left;">Date:</p>
                    <p style="text-align: left;">Exporter or Manufacturer of the certified goods (identity which): Both</p>
                    <br>
                    <p style="text-align: left;">Signature:</p>
                </div>*@
            <div class="row">
                @if (Model.SipToCountry == "Canada")
                {
                    <img src="~/Content/NAFTA_certificate_CANADA.jpg" alt="Canada certificate" style="width:100%;height:100%;" />

                }
                else if (Model.SipToCountry == "Mexico")
                {
                    <img src="~/Content/NAFTA_certificate_MEXICO.jpg" alt="Maxico certificate" style="width:100%;height:100%;" />

                }
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script>
        //$(document).ready(function () {
        //    $('#cmd').click(function () {
        //        var pdf = new jsPDF('p', 'pt', 'letter')
        //            , source = $('#content')[0]
        //            , specialElementHandlers = {
        //                '#bypassme': function (element, renderer) {
        //                    return true
        //                }
        //            }
        //        margins = {
        //            top: 60,
        //            bottom: 60,
        //            left: 40,
        //            width: 522
        //        };
        //        pdf.fromHTML(
        //            source
        //            , margins.left
        //            , margins.top
        //            , {
        //                'width': margins.width
        //                , 'elementHandlers': specialElementHandlers
        //            },
        //            function (dispose) {
        //                pdf.save('download_pdf.pdf');
        //            },
        //            margins
        //        )
        //    });
        //});
        //$(document).ready(function () {
        //    $('#prodiv').hide();
        //});
        function ExportPdf() {
            kendo.drawing
                .drawDOM("#content",
                {
                    paperSize: "A3",
                    margin: { top: "1cm", bottom: "1cm", left: "1cm", right: "1cm" },
                    scale: 0.8
                })
                .then(function (group) {
                    kendo.drawing.pdf.saveAs(group, "Exported.pdf")
                });
        }


    </script>
</body>
</html>
