﻿
@{
    ViewBag.Title = "List Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<InvoiceGenerator.Models.Product>
@using InvoiceGenerator.Models
@using InvoiceGenerator.BL
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Products</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">List of Products</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Status</th>
                                    <th>ASIN</th>
                                    <th>Barcode</th>
                                    <th>TarrifCode</th>
                                    <th>Country</th>
                                    <th>FBA</th>
                                    <th>Direct</th>
                                    <th>Base</th>
                                    <th>WSP_USD</th>
                                    <th>MSRP_USD</th>
                                    <th>Price_AMZN_USD</th>
                                    <th>Price_AMZN_EUR</th>
                                    <th>Price_AMZN_GBP</th>
                                    <th>Price_AMZN_MXN</th>
                                    <th>Price_AMZN_CAD</th>
                                    <th>S_Box_Quantity</th>
                                    <th>S_Box_Weight</th>
                                    <th>S_Box_Height</th>
                                    <th>S_Box_Length</th>
                                    <th>M_Box_Quantity</th>
                                    <th>M_Box_Weight</th>
                                    <th>M_Box_Height</th>
                                    <th>M_Box_Length</th>
                                    <th>L_Box_Weight</th>
                                    <th>M_Box_Width</th>
                                    <th>L_Box_Height</th>
                                    <th>L_Box_Length</th>
                                    <th>L_Box_Width</th>
                                    <th>L_Box_Quantity</th>
                                    <th>S_Box_Width</th>
                                    <th>Size_Kg</th>
                                    <th>Size_Lbs</th>
                                    <th>Size_Oz</th>
                                    <th>Size_g</th>
                                    <th>Size_ml</th>
                                    <th>Closure</th>
                                    <th>Amazon SKU US</th>
                                    <th>Amazon SKU CANADA</th>
                                    <th>Amazon SKU UK</th>
                                    <th>Amazon SKU MAXICO</th>

                                    <th>Amazon_US</th>
                                    <th>Amazon_CA</th>
                                    <th>Amazon_MX</th>
                                    <th>Amazon_UK</th>
                                    <th>Amazon_DE</th>
                                    <th>Amazon_FR</th>
                                    <th>Amazon_IT</th>
                                    <th>Amazon_ES</th>
                                    <th>Amazon_IN</th>
                                    <th>Amazon_BR</th>
                                    <th>Amazon_AU</th>
                                    <th>Etsy</th>
                                    <th>GroupOn</th>
                                    <th>RangeMe</th>
                                    <th>eBay</th>
                                    <th>Bonanza</th>
                                    <th>Alibaba</th>
                                    <th>AliExpress</th>
                                    <th>Target</th>
                                    <th>Facebook</th>
                                    <th>Pinterest</th>
                                    <th>Wanalo</th>
                                    <th>Wish</th>
                                    <th>Website</th>
                                    <th>Walmart</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>
                                        <a class="btn btn-info" href="@Url.Action("EditProduct","Admin",new { Id=item.Id})">
                                            EDIT
                                        </a>
                                        <a class="btn btn-success" href="@Url.Action("detailProduct","Admin",new { Id=item.Id})">
                                            Generate Invoice
                                        </a>
                                        <a class="btn btn-danger" data-target="#deleteProduct" data-toggle="modal" onclick="deleteProduct('@item.Id')">
                                            DELETE
                                        </a>

                                    </td>
                                    @if (item.Name != null && item.Name != "")
                                    {
                                        <td>@item.Name</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Category != null && item.Category != "")
                                    {
                                        <td>@item.Category</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.Brand != null && item.Brand != "")
                                    {
                                        <td>@item.Brand</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.Status != null && item.Status != "")
                                    {
                                        <td>@item.Status</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.ASIN != null && item.ASIN != "")
                                    {
                                        <td>@item.ASIN</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.Barcode != null && item.Barcode != "")
                                    {
                                        <td>@item.Barcode</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.TarrifCode != null && item.TarrifCode != "")
                                    {
                                        <td>@item.TarrifCode</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.Country != null && item.Country != "")
                                    {
                                        <td>@item.Country</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }
                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().FBA != null && item.Costs.FirstOrDefault().FBA != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().FBA</td>

                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }


                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Direct != null && item.Costs.FirstOrDefault().Direct != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Direct</td>
                                        }
                                        else
                                        {
                                            <td> Null </td>
                                        }
                                    }
                                    else
                                    {
                                        <td> Null </td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Base != null && item.Costs.FirstOrDefault().Base != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Base</td>

                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().WSP_USD != null && item.Costs.FirstOrDefault().WSP_USD != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().WSP_USD</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().MSRP_USD != null && item.Costs.FirstOrDefault().MSRP_USD != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().MSRP_USD</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Price_AMZN_USD != null && item.Costs.FirstOrDefault().Price_AMZN_USD != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Price_AMZN_USD</td>

                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Price_AMZN_EUR != null && item.Costs.FirstOrDefault().Price_AMZN_EUR != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Price_AMZN_EUR</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Price_AMZN_GBP != null && item.Costs.FirstOrDefault().Price_AMZN_GBP != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Price_AMZN_GBP</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Price_AMZN_MXN != null && item.Costs.FirstOrDefault().Price_AMZN_MXN != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Price_AMZN_MXN</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Costs.Count() > 0)
                                    {
                                        if (item.Costs.FirstOrDefault().Price_AMZN_CAD != null && item.Costs.FirstOrDefault().Price_AMZN_CAD != "")
                                        {
                                            <td>@item.Costs.FirstOrDefault().Price_AMZN_CAD</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().S_Box_Quantity != null && item.Boxes.FirstOrDefault().S_Box_Quantity != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().S_Box_Quantity</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().S_Box_Weight != null && item.Boxes.FirstOrDefault().S_Box_Weight != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().S_Box_Weight</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().S_Box_Height != null && item.Boxes.FirstOrDefault().S_Box_Height != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().S_Box_Height</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().S_Box_Length != null && item.Boxes.FirstOrDefault().S_Box_Length != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().S_Box_Length</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().M_Box_Quantity != null && item.Boxes.FirstOrDefault().M_Box_Quantity != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().M_Box_Quantity</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().M_Box_Weight != null && item.Boxes.FirstOrDefault().M_Box_Weight != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().M_Box_Weight</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().M_Box_Height != null && item.Boxes.FirstOrDefault().M_Box_Height != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().M_Box_Height</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().M_Box_Length != null && item.Boxes.FirstOrDefault().M_Box_Length != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().M_Box_Length</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().L_Box_Weight != null && item.Boxes.FirstOrDefault().L_Box_Weight != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().L_Box_Weight</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().M_Box_Width != null && item.Boxes.FirstOrDefault().M_Box_Width != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().M_Box_Width</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().L_Box_Height != null && item.Boxes.FirstOrDefault().L_Box_Height != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().L_Box_Height</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().L_Box_Length != null && item.Boxes.FirstOrDefault().L_Box_Length != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().L_Box_Length</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().L_Box_Width != null && item.Boxes.FirstOrDefault().L_Box_Width != null)
                                        {
                                            <td>@item.Boxes.FirstOrDefault().L_Box_Width</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().L_Box_Quantity != null && item.Boxes.FirstOrDefault().L_Box_Quantity != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().L_Box_Quantity</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Boxes.Count() > 0)
                                    {
                                        if (item.Boxes.FirstOrDefault().S_Box_Width != null && item.Boxes.FirstOrDefault().S_Box_Width != "")
                                        {
                                            <td>@item.Boxes.FirstOrDefault().S_Box_Width</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {
                                        if (item.Sizes.FirstOrDefault().Size_Kg != null && item.Sizes.FirstOrDefault().Size_Kg != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Size_Kg</td>
                                        }
                                        else
                                        {
                                            <td> Null </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {
                                        if (item.Sizes.FirstOrDefault().Size_Lbs != null && item.Sizes.FirstOrDefault().Size_Lbs != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Size_Lbs</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {
                                        if (item.Sizes.FirstOrDefault().Size_Oz != null && item.Sizes.FirstOrDefault().Size_Oz != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Size_Oz</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {
                                        if (item.Sizes.FirstOrDefault().Size_g != null && item.Sizes.FirstOrDefault().Size_g != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Size_g</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {


                                        if (item.Sizes.FirstOrDefault().Size_ml != null && item.Sizes.FirstOrDefault().Size_ml != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Size_ml</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Sizes.Count() > 0)
                                    {
                                        if (item.Sizes.FirstOrDefault().Closure != null && item.Sizes.FirstOrDefault().Closure != "")
                                        {
                                            <td>@item.Sizes.FirstOrDefault().Closure</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.AmazonSkus.Count() > 0)
                                    {
                                        if (item.AmazonSkus.FirstOrDefault().US != null && item.AmazonSkus.FirstOrDefault().US != "")
                                        {
                                            <td>@item.AmazonSkus.FirstOrDefault().US</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.AmazonSkus.Count() > 0)
                                    {
                                        if (item.AmazonSkus.FirstOrDefault().Canada != null && item.AmazonSkus.FirstOrDefault().Canada != "")
                                        {
                                            <td>@item.AmazonSkus.FirstOrDefault().Canada</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.AmazonSkus.Count() > 0)
                                    {
                                        if (item.AmazonSkus.FirstOrDefault().UK != null && item.AmazonSkus.FirstOrDefault().UK != "")
                                        {
                                            <td>@item.AmazonSkus.FirstOrDefault().UK</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.AmazonSkus.Count() > 0)
                                    {
                                        if (item.AmazonSkus.FirstOrDefault().Mexico != null && item.AmazonSkus.FirstOrDefault().Mexico != "")
                                        {
                                            <td>@item.AmazonSkus.FirstOrDefault().Mexico</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_US != null && item.Platforms.FirstOrDefault().Amazon_US != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_US</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_CA != null && item.Platforms.FirstOrDefault().Amazon_CA != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_CA</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_MX != null && item.Platforms.FirstOrDefault().Amazon_MX != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_MX</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_UK != null && item.Platforms.FirstOrDefault().Amazon_UK != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_UK</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_DE != null && item.Platforms.FirstOrDefault().Amazon_DE != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_DE</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_FR != null && item.Platforms.FirstOrDefault().Amazon_FR != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_FR</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_IT != null && item.Platforms.FirstOrDefault().Amazon_IT != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_IT</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_ES != null && item.Platforms.FirstOrDefault().Amazon_ES != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_ES</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_IN != null && item.Platforms.FirstOrDefault().Amazon_IN != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_IN</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {


                                        if (item.Platforms.FirstOrDefault().Amazon_BR != null && item.Platforms.FirstOrDefault().Amazon_BR != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_BR</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Amazon_AU != null && item.Platforms.FirstOrDefault().Amazon_AU != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Amazon_AU</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {


                                        if (item.Platforms.FirstOrDefault().Etsy != null && item.Platforms.FirstOrDefault().Etsy != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Etsy</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().GroupOn != null && item.Platforms.FirstOrDefault().GroupOn != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().GroupOn</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().RangeMe != null && item.Platforms.FirstOrDefault().RangeMe != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().RangeMe</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().eBay != null && item.Platforms.FirstOrDefault().eBay != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().eBay</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Bonanza != null && item.Platforms.FirstOrDefault().Bonanza != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Bonanza</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Alibaba != null && item.Platforms.FirstOrDefault().Alibaba != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Alibaba</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {


                                        if (item.Platforms.FirstOrDefault().AliExpress != null || item.Platforms.FirstOrDefault().AliExpress != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().AliExpress</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Target != null && item.Platforms.FirstOrDefault().Target != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Target</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {


                                       if (item.Platforms.FirstOrDefault().Facebook != null && item.Platforms.FirstOrDefault().Facebook != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Facebook</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Pinterest != null && item.Platforms.FirstOrDefault().Pinterest != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Pinterest</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Wanalo != null && item.Platforms.FirstOrDefault().Wanalo != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Wanalo</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Wish != null && item.Platforms.FirstOrDefault().Wish != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Wish</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Website != null && item.Platforms.FirstOrDefault().Website != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Website</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                    @if (item.Platforms.Count() > 0)
                                    {
                                        if (item.Platforms.FirstOrDefault().Walmart != null || item.Platforms.FirstOrDefault().Walmart != "")
                                        {
                                            <td>@item.Platforms.FirstOrDefault().Walmart</td>
                                        }
                                        else
                                        {
                                            <td>Null</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Null</td>
                                    }

                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("DeleteProduct","Admin")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>You are going to delete this Product. Are you sure?</p>
                    <input type="hidden" class="form-control" id="propId" name="Id" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function deleteProduct(Id) {
        $('#propId').val(Id);
    }
</script>

